{% extends 'base.html' %}

{% block body %}

<div class="container"
    <h1>Lista de Contatos</h1>
    <hr>

    <table>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Número de Celular</th>
        </tr>
        <tr>
            <td>João da Silva</td>
            <td>joao@example.com</td>
            <td>(11) 98765-4321</td>
        </tr>
        <tr>
            <td>Maria Souza</td>
            <td>maria@example.com</td>
            <td>(21) 99876-5432</td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
    </table>
</div>
{% endblock %}
