{% extends 'base.html' %}

{% block body %}
<body>
    <div class="container">
        <h1>Jadson Santana Gomes</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec erat vel purus varius iaculis nec nec libero. Integer consequat magna nec eros vehicula, vel convallis urna gravida. Sed dapibus dolor ac metus facilisis varius.</p>
        <p>Donec feugiat dui ac quam malesuada, vel aliquam velit fermentum. Suspendisse consectetur velit nec metus cursus aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin commodo, elit in pellentesque bibendum, libero odio auctor justo, eget volutpat ligula leo sed ex.</p>
        <p>Nulla facilisi. Vestibulum eleifend, quam id molestie mollis, mauris nunc bibendum nisi, nec faucibus orci eros sed libero. Phasellus malesuada felis non lectus pharetra, vel accumsan risus tempus. Duis feugiat fringilla magna.</p>
    </div>
{% endblock %}